body {}

.top {
	background-color: #121212;
	color: white;
}

.bd-callout {
	padding: 1.25rem;
	border: 1px solid #ddd;
	border-left-width: 0.45rem;
	border-left-color: #6155a6;
}

.bd-callout-green {
	padding: 1.25rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	border: 1px solid #ddd;
	border-left-width: 0.25rem;
	border-radius: 0.25rem;
	border-left-color: #5eaaa8;
}


.appinuse {
	filter: drop-shadow(5px 5px 5px #000);
	width: 60%;
}

.next-note {
	/*border: 4px solid #000;*/
}

.pp {
	border-radius: 50%;
}

.footer {
	background-color: #ededed;
	color: #121212;
	padding: 50px 0px;
}

.btn {
	border-radius: 0px;
}

.btn-outline-light:focus {
	box-shadow: none;
}

.btn-outline-light:focus-visible {
	outline: none;
}

.aspect {
	aspect-ratio: 16 / 9;
}